.d8leh8P {
  &.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
  }

  &.header {
    width: 100%;
    height: makeRem(84);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 makeRem(32);
  }

  &.body {
    flex: 1;
    width: 100%;
  }
}
