@import "../../styles/index.scss";

// Variants
@include makeClass("typ-copy", "body1") {
  @include typ-copy-body1;
}

@include makeClass("typ-copy", "body2") {
  @include typ-copy-body2;
}

@include makeClass("typ-copy", "caption") {
  @include typ-copy-caption;
}

@include makeClass("typ-copy", "overline") {
  @include typ-copy-overline;
}

// Colors
@include makeClass("typ-copy", "textPrimary") {
  color: var(--color-textPrimary);
}

@include makeClass("typ-copy", "textSecondary") {
  color: var(--color-textSecondary);
}

@include makeClass("typ-copy", "danger") {
  color: var(--color-danger);
}

@include makeClass("typ-copy", "warning") {
  color: var(--color-warning);
}

@include makeClass("typ-copy", "success") {
  color: var(--color-success);
}
