@import "../../../styles/index.scss";

@include makeClass("iogigS8") {
  padding: makeRem(40) makeRem(32);
  background: var(--color-primary);

  @include respond("desktop") {
    padding: makeRem(64) makeRem(60);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
