@import "../../../styles/index.scss";

@include makeClass("U8fFbUv") {
  position: relative;
  display: block;
  padding-bottom: makeRem(4);
  font-weight: bold;
  color: var(--color-white);

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: makeRem(2);
    width: 20%;
    background-color: var(--color-secondary);
  }
}
