.app-header {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.head-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
}

.chip {
  padding: 0 1.25rem;
  height: 1.5rem;
  border-radius: 0.5rem;
}
.chip.draft {
  background: #f9aef8;
}
.chip.published {
  background: #e2fff9;
}

.chip-text {
  font-weight: bold;
  font-size: 0.625rem !important;
  line-height: 1.5rem !important;
  text-transform: uppercase;
}

.TKizo7F7045 {
  text-align: center;
}
.TKizo7F7045 * {
  margin-left: auto;
  margin-right: auto;
  max-width: 65ch;
}
.TKizo7F7045 .action {
  margin-top: 2rem;
}
.TKizo7F7045 .action a {
  display: inline-flex;
}

.table-body-tr {
  height: 100%;
  border-bottom: 0.0625rem solid var(--color-grey2);
  padding: 0 1rem;
}
.table-body-td {
  display: flex;
  justify-content: center;
}
.table-body-td-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.g0oETy8.table-head {
  padding: 0 1rem;
  height: 2.25rem;
  background: var(--color-grey2);
  align-items: center;
}
.g0oETy8.table-head-th {
  height: 100%;
}
.g0oETy8.table-head-th-content {
  display: flex;
  align-items: center;
  height: inherit;
}

.gDI1gHS1kS.content {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--color-gradient);
}

.card {
  padding: 4rem;
  border-radius: 0.25rem;
  background: var(--color-white);
  max-width: 60ch;
  text-align: center;
}

.wmtbNX.title {
  display: flex;
  align-items: center;
}
.wmtbNX.title > *:not(:last-child) {
  margin-right: 2rem !important;
}
.wmtbNX.main {
  display: flex;
  height: 100%;
}
.wmtbNX.pane {
  width: 37.5rem;
  height: 100%;
}
.wmtbNX.pane-form {
  height: 100%;
  flex: inherit;
  flex-direction: inherit;
}
.wmtbNX.pane-tabs {
  position: relative;
  top: 1.3125rem;
  padding: 0 1rem;
  z-index: 100;
}
.wmtbNX.pane-content {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 0.0625rem solid var(--color-grey3);
  padding: 2.5rem 2rem;
}
.wmtbNX.preview {
  flex: 1;
  height: 100%;
  background: var(--color-grey2);
  border-left: 0.0625rem solid var(--color-grey3);
  border-top: 0.0625rem solid var(--color-grey3);
  overflow-y: auto;
  margin-top: 2.625rem;
}
.wmtbNX.preview-card {
  margin: 1.5rem;
  background: var(--color-white);
  box-shadow: 0 2px 14px 5px rgba(228, 228, 228, 0.5);
  border-radius: 0.25rem;
}

.content-2 {
  max-height: 10rem;
}

.editor-layout {
  display: flex;
  flex: 1;
  min-height: 0;
}

.SwrfUfnbJj.layout {
  display: grid;
  grid-template-columns: 18.75rem 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}
.SwrfUfnbJj.layout > article {
  display: flex;
  flex-direction: column;
  background: var(--color-grey2);
  width: 100%;
  padding: 1.5rem 2rem;
}

.blog-nav-item {
  margin-bottom: 0.5rem;
}

.blog-nav-item-content {
  height: 3.375rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.blog-nav-item-content.active {
  background: var(--color-grey3);
}
.blog-nav-item-content.active * {
  font-weight: 600 !important;
}

.LNm9OUO.img {
  width: 100%;
  border-radius: 0.25rem;
  height: auto;
}
.LNm9OUO.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.LNm9OUO.copy {
  margin-bottom: 2rem;
}

.lmO0A93k.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.lmO0A93k.main {
  flex: 1;
}
.lmO0A93k.footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.JqEdN.list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  right: 0;
}
.JqEdN ul {
  display: grid;
  width: 100%;
  padding: 2.25rem;
  gap: 2.25rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, 220px);
}
.JqEdN ul li a {
  width: 100%;
  display: block;
  position: relative;
  border: 2px solid transparent;
  height: 10rem;
}
.JqEdN ul li a.active::before {
  content: "";
  position: absolute;
  border-radius: 0.5rem;
  top: -0.25rem;
  left: -0.25rem;
  bottom: -0.25rem;
  right: -0.25rem;
  border: 0.125rem solid var(--color-primary);
}
.JqEdN ul li img {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0.125rem;
  position: relative;
}

.YPRm2Dbg4mD.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nzKztTNu.layout {
  display: flex;
  border-top: 1px solid var(--color-grey3);
  height: 100%;
}
.nzKztTNu.main {
  display: flex;
  flex: 1;
  position: relative;
}
.nzKztTNu.pane {
  border-left: 1px solid var(--color-grey3);
  height: 100%;
  width: 26.25rem;
  background: var(--color-grey2);
  padding: 2rem;
}

.rgy3g1.empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: column;
}

.d8leh8P.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
}
.d8leh8P.header {
  width: 100%;
  height: 5.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.d8leh8P.body {
  flex: 1;
  width: 100%;
}

.editor-container {
  height: 100%;
  width: 100%;
  background: var(--color-white);
  border-radius: 0.25rem;
}
.editor-container > textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-family: Monaco;
  font-size: 0.875rem;
  padding: 1rem;
}
.editor-container > textarea:focus {
  outline: none;
}

body {
  height: 100%;
  display: flex;
  flex-direction: row;
}

html {
  height: 100%;
}

ul,
li {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.mU7l8h.list {
  padding: 2rem;
}
.mU7l8h.item {
  display: flex;
  align-items: center;
  height: 8.75rem;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--color-grey3);
  background: transparent;
  transition: all 0.15s ease-in-out;
}
.mU7l8h.item:hover {
  background: var(--color-grey2);
}
.mU7l8h.item > * {
  margin: 0 1rem;
}
.mU7l8h.item img {
  width: 10rem;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

/*# sourceMappingURL=styles.css.map */
