$libPrefix: v9WS7;

@mixin makeClass($element, $variant: false) {
  .#{$libPrefix} {
    &.#{$element} {
      @if ($variant) {
        &.#{$variant} {
          @content;
        }
      } @else {
        @content;
      }
    }
  }
}

@mixin makeColorClass {
  .c- {
    &primary {
      color: var(--color-primary);
    }
    &secondary {
      color: var(--color-secondary);
    }
    &danger {
      color: var(--color-danger);
    }
    &warning {
      color: var(--color-warning);
    }
    &success {
      color: var(--color-success);
    }
    &white {
      color: var(--color-white);
    }
    &grey1 {
      color: var(--color-grey1);
    }
    &grey2 {
      color: var(--color-grey2);
    }
    &grey3 {
      color: var(--color-grey3);
    }
    &grey4 {
      color: var(--color-grey4);
    }
    &grey5 {
      color: var(--color-grey5);
    }
    &black {
      color: var(--color-black);
    }
  }
}

@function makeRem($size) {
  @return #{calc($size / 16)}rem;
}

@mixin respond($size) {
  @if ($size == "mobile") {
    @media only screen and (min-width: 0px) {
      @content;
    }
  }
  @if ($size == "tablet") {
    @media only screen and (min-width: var(--breakpoint-tablet)) {
      @content;
    }
  }
  @if ($size == "desktop") {
    @media only screen and (min-width: var(--breakpoint-desktop)) {
      @content;
    }
  }
}
