@import "../../../styles/index.scss";

@include makeClass("Aj6DddsY") {
  padding-left: makeRem(24);
  padding-right: makeRem(24);
  display: flex;
  height: var(--navbar-height);
  align-items: center;
}
