@import "../../../styles/index.scss";

@include makeClass("LBhMGJ") {
  border: 0;
  background: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  height: makeRem(44);
  width: makeRem(44);
  margin-left: makeRem(12);
}
