@import "../../../styles/index.scss";

@include makeClass("Vmhmek") {
  &.active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(#5f5a5a, 0.77);
  }
}
