@import "../../../styles/index.scss";

@include makeClass("mh4nj") {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: makeRem(24) makeRem(32);

  @include respond("tablet") {
    padding: 0 makeRem(60);
  }

  & > div {
    display: flex;
    justify-content: space-between;
  }
}
