.nzKztTNu {
  &.layout {
    display: flex;
    border-top: 1px solid var(--color-grey2);
    height: 100%;
  }
  &.main {
    display: flex;
    flex: 1;
    position: relative;
  }
  &.pane {
    border-left: 1px solid var(--color-grey2);
    height: 100%;
    width: makeRem(400);
    background: var(--color-grey1);
    padding: makeRem(32);
  }
}
