@import "../../styles/index.scss";

@include makeClass("TmuIxd") {
  display: flex;
  justify-content: center;
  align-items: center;

  path {
    fill: inherit;
  }
}

@include makeClass("TmuIxd", "c-primary") {
  path {
    fill: var(--color-primary);
  }
}

@include makeClass("TmuIxd", "c-secondary") {
  path {
    fill: var(--color-secondary);
  }
}

@include makeClass("TmuIxd", "c-danger") {
  path {
    fill: var(--color-danger);
  }
}

@include makeClass("TmuIxd", "c-warning") {
  path {
    fill: var(--color-warning);
  }
}

@include makeClass("TmuIxd", "c-success") {
  path {
    fill: var(--color-success);
  }
}

@include makeClass("TmuIxd", "c-white") {
  path {
    fill: var(--color-white);
  }
}

@include makeClass("TmuIxd", "c-grey1") {
  path {
    fill: var(--color-grey1);
  }
}

@include makeClass("TmuIxd", "c-grey2") {
  path {
    fill: var(--color-grey2);
  }
}

@include makeClass("TmuIxd", "c-grey3") {
  path {
    fill: var(--color-grey3);
  }
}

@include makeClass("TmuIxd", "c-grey4") {
  path {
    fill: var(--color-grey4);
  }
}

@include makeClass("TmuIxd", "c-grey5") {
  path {
    fill: var(--color-grey5);
  }
}

@include makeClass("TmuIxd", "c-black") {
  path {
    fill: var(--color-black);
  }
}
