@import "../../styles/index.scss";

// label
@include makeClass("aVnIs0") {
  display: inline-block;
  display: flex;
  align-content: center;

  * {
    box-sizing: border-box;
  }
}

// checkbox input
@include makeClass("G3LKFQ") {
  position: absolute;
  margin: 0;
  padding: 0;
  height: makeRem(24);
  width: makeRem(24);
  min-width: makeRem(24);
  opacity: 0;
  z-index: 10;
  cursor: pointer;

  & + * {
    display: block;
    position: relative;
    height: makeRem(24);
    min-width: makeRem(24);
    margin-right: makeRem(16);

    &:before {
      content: "";
      position: absolute;
      border: makeRem(2) solid var(--color-grey3);
      background-color: var(--color-white);
      border-radius: 50%;
      height: makeRem(16);
      width: makeRem(16);
      margin-left: makeRem(-8);
      margin-top: makeRem(-8);
      left: 50%;
      top: 50%;
    }
  }

  &:checked + span {
    &::before {
      border-width: makeRem(4);
      border-color: var(--color-primary);
    }

    & > * {
      visibility: visible;
      z-index: 9;
    }
  }
}
