@import "../../styles/index.scss";

@mixin input-textarea {
  @include typ-copy-body1;
  width: 100%;
  padding: makeRem(12) makeRem(16);
  border: makeRem(1) solid var(--color-grey3);
  border-radius: makeRem(2);
  background-color: var(--color-grey2);
  min-height: makeRem(120);

  &:focus,
  &:active {
    border-color: var(--color-primary);
    outline: none;
  }

  &::placeholder {
    color: var(--color-grey4);
  }
}

@include makeClass("G6slgSB") {
  @include input-textarea;
}

@include makeClass("G6slgSB", "error") {
  color: var(--color-danger);
  border-color: var(--color-danger);

  &:focus {
    border-color: var(--color-danger);
  }
}
