@import "../../../styles/utils";

.content {
  max-height: makeRem(160);
}

.outlet {
  flex: 1;
  width: 100%;
  background: var(--color-grey1);
  border-top: makeRem(1) solid var(--color-grey3);
  padding: makeRem(40) makeRem(32);
}

.layout-content {
  width: makeRem(600);
  height: 100%;
}

.editor-layout {
  flex: 1;
  height: 100%;
  background: var(--color-grey1);
  border-left: makeRem(1) solid var(--color-grey3);
  overflow-y: auto;

  & > .card {
    margin: makeRem(24);
    background: var(--color-white);
    box-shadow: 0 2px 14px 5px rgba(228, 228, 228, 0.5);
    border-radius: makeRem(4);
  }
}
