@import "../../../styles/utils";

.pane-container {
  display: flex;
  margin-top: makeRem(16);
  padding-bottom: makeRem(16);
  border-bottom: makeRem(1) solid var(--color-grey3);

  img {
    width: 30%;
    height: auto;
    margin-right: makeRem(16);
    border-radius: makeRem(4);
    object-fit: contain;
    object-position: top;
  }
}
