.g0oETy8 {
  &.table-head {
    padding: 0 makeRem(16);
    height: makeRem(36);
    background: var(--color-grey2);
    align-items: center;

    &-th {
      height: 100%;

      &-content {
        display: flex;
        align-items: center;
        height: inherit;
      }
    }
  }
}
