@import "../../styles/utils";

.images-grid {
  display: grid;
  grid-template-areas:
    "nav nav"
    "main-title edit-title"
    "main-content edit-content";
  overflow: hidden;
  grid-template-columns: 1fr auto;
}
