@import "../styles/index.scss";

@mixin input-text {
  @include typ-copy-body1;
  width: 100%;
  padding-left: makeRem(16);
  padding-right: makeRem(16);
  border: makeRem(1) solid var(--color-grey3);
  border-radius: makeRem(2);
  background-color: var(--color-grey2);

  &:focus,
  &:active {
    border-color: var(--color-primary);
    outline: none;
  }

  &::placeholder {
    color: var(--color-grey4);
  }
}

@include makeClass("UOD95") {
  @include input-text;
}

@include makeClass("UOD95", "s-lg") {
  height: makeRem(44);
}

@include makeClass("UOD95", "s-sm") {
  height: makeRem(36);
  font-size: makeRem(14);
}

@include makeClass("UOD95", "error") {
  color: var(--color-danger);
  border-color: var(--color-danger);

  &:focus {
    border-color: var(--color-danger);
  }
}

@include makeClass("UOD95", "a-center") {
  text-align: center;
}

@include makeClass("UOD95", "i-start") {
  padding-left: makeRem(8 + 24 + 8);
}

@include makeClass("cOwWyv") {
  position: absolute;
  left: makeRem(8);
  top: 50%;
  margin-top: makeRem(-12);
}
