@import "../styles/index.scss";

@include makeClass("pwt64he") {
  @include typ-copy-caption;
}

@include makeClass("pwt64he", "s-lg") {
  font-size: makeRem(14);
  padding-left: makeRem(12);
  padding-top: makeRem(8);
}

@include makeClass("pwt64he", "s-sm") {
  font-size: makeRem(12);
  padding-left: makeRem(10);
  padding-top: makeRem(6);
}

@include makeClass("pwt64he", "error") {
  color: var(--color-danger);
}
