@import "../../styles/utils";

.chip {
  padding: 0 makeRem(20);
  height: makeRem(24);
  border-radius: makeRem(8);

  &.draft {
    background: #f9aef8;
  }

  &.published {
    background: #e2fff9;
  }
}
