@import "../../../styles/index.scss";

// label
@include makeClass("pk0ZQq") {
  padding: 0 makeRem(16);
  height: makeRem(72);
  border-radius: makeRem(2);
  position: relative;
  border: makeRem(1) solid transparent;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    & ~ div {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: makeRem(2);
      border: makeRem(1) solid var(--color-grey3);
      transition: all 0.1s ease-in-out;
    }

    &:checked {
      & ~ div {
        border: makeRem(2) solid var(--color-primary);
        box-shadow: 0 0 4px 0 rgba(var(--color-primary-rgba), 0.46);
        border-radius: makeRem(2);
      }
    }

    &:hover {
      &:not(:checked) {
        & ~ div {
          border: makeRem(1) solid var(--color-grey4);
          box-shadow: 0 0 4px 0 rgba(var(--color-grey4-rgba), 0.46);
          border-radius: makeRem(2);
        }
      }
    }
  }
}
