@import "../styles/utils";

.table-body {
  &-tr {
    height: 100%;
    border-bottom: makeRem(1) solid var(--color-grey2);
    padding: 0 makeRem(16);
  }

  &-td {
    display: flex;
    justify-content: center;

    &-content {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
}
