@import "../../../styles/index.scss";

@include makeClass("AUh4RFk") {
  position: relative;
  padding: makeRem(24);

  & > * {
    margin-left: auto;
    margin-right: auto;
    max-width: makeRem(1140);
  }

  &.split {
    & > * {
      &:last-child {
        margin-top: makeRem(84);
      }
    }
  }

  @include respond("desktop") {
    padding: makeRem(84);

    &.split {
      display: flex;
      justify-content: center;

      & > * {
        &:last-child {
          margin-top: 0;
          margin-left: makeRem(84);
        }
      }
    }
  }

  &.bg-main {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: url("/bg-main.webp");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
}
