@import "../../../styles/index.scss";

@include makeClass("aS1RjE") {
  text-align: left;

  @include respond("desktop") {
    margin-top: 0;
  }

  &.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    & * {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
